#login-mask {
	filter:alpha(opacity=40);
	opacity:0.4; 
	-moz-opacity:0.4;
	display: none;
	position: absolute:
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: black;
}

#login-form {
	display: none;
	position: absolute;
	left: 25%;
	top: 25%;
	z-index: 201;
	height: auto;
}

#login-form #login-submit {
	cursor: pointer
}

#login-form .login-text {
	color: #FFFFFF; 
	font-size: 12px; 
}
